{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="comment-form-wrap pt-5">
    <h3 class="ps-5">Create a new category</h3>
    <form action="{{ path('admin_admins_create_category') }}" class="ps-5 pe-5 bg-light" method="POST">
        {{ form_start(form) }}

        <div class="form-group mt-2">
            <label class="form-label">Add Category Name</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group mt-2 mb-2">
            <input type="submit" value="Create" class="btn btn-primary">
        </div>

        {{ form_end(form) }}
    </form>
</div>
{% endblock %}
